[Unit]
Description=Samba AD Domain Controller


[Service]
Type=forking
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
# samba exits with 127 on SIGTERM:
SuccessExitStatus=127
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=runagent bash -c "(echo -n DNS_FORWARDER= ; print-nameservers) > dns_forwarder.env"
ExecStart=/usr/bin/podman run \
    --dns=none \
    --no-hosts \
    --detach \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --network=host \
    --privileged \
    --hostname=${HOSTNAME} \
    --replace --name=%N \
    --env=REALM \
    --env=IPADDRESS \
    --env=PREFIXLEN \
    --env=NBDOMAIN \
    --env-file=dns_forwarder.env \
    --volume=data:/var/lib/samba:z \
    --volume=config:/etc/samba:z \
    --init \
    ${SAMBA_DC_IMAGE}

# Wait until some TCP ports are ready (DNS, Kerberos, LDAP, Global catalog)
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/${IPADDRESS}/53; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/${IPADDRESS}/88; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/${IPADDRESS}/389; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/${IPADDRESS}/3268; do sleep 5 ; done"

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid
WorkingDirectory=%S/state

[Install]
WantedBy=default.target
